version: '3.8'

services:
  db:
    image: postgres:17.2
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 4268
      POSTGRES_DB: aigovnodb
    ports:
      - "54321:5432"  # Маппинг порта хоста 54321 на стандартный порт
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  pgdata:
    driver: local

networks:
  app-network:
    driver: bridge